[init]
	defaultBranch = main

[user]
	name = Luvimsan
	email = luvimsan@gmail.com
	signingkey = 666C28814B3605FD

[pull]
	rebase = false
[rerere]
	enabled = true
[commit]
	gpgsign = true
[tag]
	gpgsign = true

[sendemail]
    sendmailcmd = msmtp -a luvimsan@gmail.com
    confirm = always
