[submodule "suckless/dwm"]
	path = suckless/dwm
	url = git@github.com:Loaay47/dwm.git
[submodule "suckless/dmenu"]
	path = suckless/dmenu
	url = git@github.com:Loaay47/dmenu.git
[submodule "suckless/st"]
	path = suckless/st
	url = git@github.com:Loaay47/st.git
